.metadata
bin/
dist/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath


# can't believe this went missing
sysProps.xml

#java
*.class

# Package Files #
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
